/* RESET CSS */
body {
    margin: 0;
}

html{
   height: auto;
   width: 1160px;
}

header{
    background-color: #782221;
    display: flex;
    flex-direction: column;
}

main, footer{
    background-color: #782221;
}

#photo{
    width : 150px;
    height : 150px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 0 15px  white;
    margin: auto;
}

#photo:hover{
    cursor: zoom-in;
}

#adress{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#adress:hover{
    text-decoration: underline;
}

#corps{
    border-right: solid;
    background-color: white;
}

#cv{
    display: flex;
    flex-direction: row;
}

img{
    height: 100px;
}

img:hover{
    opacity: 60%;
}

.titres:hover{
    border-left: solid 10px #782221;
}