@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2')
}

.p2{
    font-family: "Raleway";
    color: white;
    text-indent: 100px;
    text-align: justify;
    margin: 20px;
}

.p3{
    font-family: "Raleway";
    color: black;
}

#p1{
    font-family: "Raleway";
    background-color: #2c1d27;
    color: white;
}

.titres {
    font-family: Lato;
    background-color: #dbc2a4;
}

.titre{
    font-family: Lato;
    color: white;
    text-align: center;
}

#adress{
    font-family: Lato;
    font-style: italic;
    color: white;
    background-color: #2c1d27;
}

a {
    text-decoration:none;
    color: white;
    }