/* RESET CSS */
body {
    margin: 0;
}

header{
    background-color: #782221;
    display: flex;
    flex-direction: column;
}

main{
    background-color: #782221;
}

footer{
    background-color: #782221;
}

img{
    width : 150px;
    height : 150px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 0 15px  white;
    margin: auto;
}

#bloc-droit{
    background-color: white;
}

#adress{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#corps{
    display: flex;
    flex-direction: row;
}