@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2')
}

.p2{
    font-family: "Raleway";
    color: white;
}

#p1{
    font-family: "Raleway";
    background-color: #2c1d27;
    color: white;
}

.titres {
    font-family: Lato;
    background-color: #dbc2a4;
}

.titre{
    font-family: Lato;
}